.fa-stopwatch-20{
    font-size: 50px;
}
.btn{
color: white !important;
}

.fa-flag{
    font-size: 10px;
}
/* .my-btn{
    width: 250px;
    #05bdf8
} */
.btn-info{
    background-color: #05bdf8 !important;
}
.btn-info:disabled{
    background-color: #228eb2 !important;
}
